@import "bulma/css/bulma.css";

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

body {
  background-color: rgb(236, 236, 236);
  min-height: 105vh;
}

.top-nav {
  padding: 0 50px;
}

.navbar-menu {
  display: block;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

.container-side {
  padding: 50px 60px;
}

.img-con {
  padding: 15px;
}
.side-bar,
.side-bar-2,
.side-bar-2-active {
  position: fixed;
  overflow-y: auto;
  z-index: 3;
}

.side-bar {
  display: flex;
  flex-direction: column;
}
.side-bar button {
  border: none;
  background-color: unset;
}

.side-bar-2 {
  left: 180px;
  left: -500px;
  transition: 1s;
}

.side-bar-2-active {
  transition: 1s;
  left: 180px;
  max-height: 580px;
}

.img-con:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
}

.contents {
  margin-left: 110px;
  z-index: 0;
}

.img-el {
  width: 350px;
}

.img-el img {
  border: 1px solid gray;
  border-radius: 10px;
}

.outer-img:not(:last-child) {
  margin-bottom: 20px;
}

.btn-img {
  position: absolute;
  z-index: 10;
  right: 5px;
  bottom: 5px;
  border-radius: 10px;
  opacity: 0;
  transition: 1s;
}

.btn-img .icon,
.btn-img-cont .icon {
  color: white;
}

.img-el:hover .btn-img {
  opacity: 1;
  transition: 1s;
}

.bg-modal-active {
  width: 90vw;
  height: 80vh;
  position: fixed;
  z-index: 1;
  overflow-y: auto;
}

.con-content {
  display: flex;
  align-items: start;
}

figure {
  margin-bottom: 0;
  padding-bottom: 0;
  display: block;
}

.elem {
  width: 1000px;
}

@media screen and (max-width: 768px) {
  .top-nav {
    padding: 0 10px;
  }

  .container-side {
    padding: 20px 15px;
  }
  .img-con {
    padding: 5px;
  }
  .side-bar-2 {
    left: 100px;
    left: -500px;
    transition: 1s;
  }

  .side-bar-2-active {
    transition: 1s;
    left: 70px;
  }
  .img-el {
    width: 220px;
  }

  .btn-img {
    opacity: 1;
  }
  .con-content button {
    font-size: 0.6rem;
  }

  .side-bar {
    padding: 0.5rem;
  }

  .contents {
    margin-left: 60px;
    max-width: 260px;
  }
}
